<div #selectOptionContainer>
<ng-select [formControl]="callingForm" [items]="campaignField.allowedValues" bindValue="value"[placeholder]="defaultValueLabel"
    [multiple]="config.multipleOptions" [searchable]="config.searchable" [clearable]="config.clearable"
    >   
</ng-select>

<div *ngIf="this.config.multipleOptions">
    <button class="btn btn-link"
            (click)="selectAll()">Select All</button>
    <button class="btn btn-link"
            (click)="clearAll()">Clear All</button>
  </div>
</div>