<div class="athena">
    <div class="selectOption" #selectOptionContainer>
        <ng-select class="input-lg" [addTag]="config && config.addTags? config.addTags : false"
            [addTagText]="config && config.addTagText? config.addTagText: ''" [formControl]="callingForm" [items]="optionList"
            bindLabel="{{config && config.bindLabel? config.bindLabel : defaultBindLabel}}"
            bindValue="{{config && config.bindValue? config.bindValue : null}}" [placeholder]="defaultValueLabel"
            [multiple]="config.multipleOptions" [searchable]="config.searchable" [clearable]="config.clearable">
        </ng-select>

        <!-- <div *ngIf="this.config.multipleOptions">
    <button class="btn btn-link"
            (click)="selectAll()">Select All</button>
    <button class="btn btn-link"
            (click)="clearAll()">Clear All</button>
  </div> -->
        <!-- <i class="fa fa-chevron-down"></i> -->

    </div>
</div>