.card-elements{
    display: inline-grid;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin:2px;    
    width: calc(95%/4);
}

.card-header{
    text-align:left;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.card-body{
    width:90%;
}

.basic-card-fields{
    padding-left: 5px;
    width:100%;
}   

.basic-footer{
    border-top: 1px solid #d8d8d8;
    a{  
        cursor:pointer;
        font-size:24px;
        padding-right: 20px;
    }
}

.grid-list-container{
    padding-right: 50px;
    font-size:25px;
    padding-right:10px;
    padding-left:90%;
    a{
        cursor:pointer; 
        padding-right:10px;   
    }
}