<div class="athena">
<div class="grid-list-container">
      <a (click)="switchView(false)" title="Grid View">
            <i class="fa fa-th" aria-hidden="true"></i>
      </a>
      <a (click)="switchView(true)" title="List View">
            <i class="fa fa-list" aria-hidden="true"></i>
      </a>
  </div>
<div class="card-container">
<!-- card-deck, card-columns -->
<div [class.card-elements]="!deckView" [class.card-deck]="deckView" *ngFor="let providedIdea of datatypeToDisplay; let cardColor = index">
      <!-- basic-card -->
      <!-- <button class="custom-card btn-block" data-toggle="modal" data-target="#expandedCard" (click)="onCardClick()"> -->
      <div class="card {{cardBg[providedIdea.name.length % cardBg.length]}}">
            <a href="#" class="custom-card btn btn-lg" role="button" aria-disabled="true" (click)="onCardClick(providedIdea)">
            <div class="card-header">
                  <h10>{{ (providedIdea.campaignName.length > 20) ? (providedIdea.campaignName | slice:0:20) + '...': providedIdea.campaignName }}</h10>
            </div>
            <div [class.card-body]="!deckView" [class.card-body-list-view]="deckView">
                  <h12>Idea Name: </h12><span>{{(providedIdea.name.length > 20) ?  (providedIdea.name | slice:0:20) + '...' : providedIdea.name }}</span><br>
                  <h12 *ngIf="providedIdea && providedIdea.postedOn">
                        Posted On:
                        <span class="font-weight-normal">{{ providedIdea.postedOn | date: 'dd-MM-yyyy'}}</span>
                        <!--  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                  </h12><br>
                  <h12>Description: </h12>
                  <span>{{providedIdea.description}}</span><br>
                  <h12>Campaign Ending in {{calculateCampaignEndingDays(providedIdea.campaign.endDate)}} Days ...</h12>
                             </div>
            </a>
            <app-card-footer [providedIdea]="providedIdea" [showEditOption]="true" style="position: bottom;"></app-card-footer>
      </div>
</div>
</div>

<ng-template id="expandedCard">
      <innovation-hub-card></innovation-hub-card>
</ng-template>
</div>