.card-elements {
    display: inline-grid;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin:5px;    
    width: calc(95%/4);
    min-width: 260px;
    height: 430px;
}

.card-deck {
    margin-top: 2px;
    margin-bottom: 8px;
    margin-right: 5px;
}
.card-header {
    text-align:center;
    padding-left: 10px;
    border-bottom: 1px solid #d8d8d8;
    font-weight: 600;
    font-size: medium;
}

.card-body {
    width:95%;
    font-size: medium;
    text-align: left;
    h12 {
        font-weight: 600;
        font-size: medium;
    }
    p {
        font-size: small;
        display:block;
        width: 200px;
        word-wrap:break-word;
    }
    span {
        font-size: small;
    }
    height: 300px;
}

.card-body-list-view {
    width:90%;
    font-size: medium;
    text-align: left;
    h12 {
        font-weight: 600;
        font-size: medium;
    }
    p {
        font-size: small;
        display:block;
        word-wrap:break-word;
    }
    span {
        font-size: small;
    }
    height: 150px;
}

.basic-card-fields {
    padding-left: 1px;
    width:100%;
}   

.basic-footer {
    border-top: 1px solid #d8d8d8;
    text-align: center;
    padding:8px;
    a {  
        cursor:pointer;
        font-size:24px;
        padding-right: 10px;
        padding-left:5px;
    }
    span.badge {
        position: relative;
        top: -10px;
        left: -10px;

    }
}

.grid-list-container {
    font-size:25px;
    padding-right:10px;
    padding-left:92%;
    a{
        cursor:pointer; 
        padding-right:10px;   
    }
}

.card-container {
    margin-bottom: 40px;
}