<div class="athena">
<form [formGroup]="ideaCommentsForm">
    <div class="modal-header" style="margin-right: 10px;"><h3>Comments</h3>
        <button class="btn btn-danger mr-2" type="button" (click)="closeCommentModal()">X</button>
    </div>
    <div class="modal-body" >
        <div class="row comment-block" *ngFor= "let commentItem of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
            <div>     
             
            <div class="column">comments</div>  
            <div class="column">comment line 2 </div>
            <div class="column">
            <span class="">comment lin e3</span>
        </div>   
            
            </div>
         </div>
       <div class="modal-footer add-new-comment">
       <textarea class="form-control" onfocus="this.value=''" formControlName="commentToAdd"></textarea>
       <button class="btn btn-outline-dark btn-danger mr-2" (click)="closeCommentModal()">Close</button>
        </div>
    </div>
</form>
</div>