<body class="athena">
<div class="home-page-container">

  <nav>
    <div class="menu-container">
      <ul>
        <li style="background-color: #f8cbab;"><a href='#'>All Ideas</a></li>
        <li><a href='#'>Trending Ideas</a> </li>
        <li><a href='#'>Popular Ideas</a> </li>
        
      </ul>
    
    <form [formGroup]="ideaFilterForm">
    <div class="idea-filter-container">   
      <div class="row" >
        <div class="col-md-3">
          <label for="ideaName" class="athena">Idea Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-md-3 ">
          <label for="tags">Tags</label>
          <innovation-hub-select-option [fieldFormControlName]="'tags'"
          [optionList]="allTags"
          [multipleOptions]="true" [config]="tagsOptionConfig"></innovation-hub-select-option>
        </div>
        <div class="col-md-3">
            <label for="contributors">Submitted By</label>
            <innovation-hub-select-option [fieldFormControlName]="'submittedBy'" [optionList]="allUsers" [config]="userOptionConfig"
            ></innovation-hub-select-option>
        </div>       
        <div class="col-md-3">
            <label for="currentStage">Current Stage</label>
            <innovation-hub-select-option [fieldFormControlName]="'currentStage'"
            [optionList]="allWorkflows"
            [config]="workflowSearchOptionConfig"></innovation-hub-select-option>
        </div>
      </div>
      <span></span>

      <div class="row" style="padding-left:16px;">
          
        <div class="col-md-6">
        <!-- <mat-form-field> -->
          <!-- <md-input-container>
            <label>Posted On From</label>
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <input class="form-control" matInput [matDatepicker]="datePicker" formControlName="posteOnFrom"> -->
            <!-- <button mdSuffix [mdDatepickerToggle]="datepicker"></button> -->
           
            <!-- <mat-datepicker #datePicker></mat-datepicker> -->
          <!-- </mat-form-field> -->
        <!-- </md-input-container> -->
        <!-- <label>Posted On From</label> -->
      <!--  <div class="input-group-append"></div>-->
            <i class="fa fa-calendar" aria-hidden="true" (click)="fromDate.toggle()" type="button" style="padding:7px;"></i>
      <!--    </div>-->
        <input class="form-control" placeholder="Posted On From"
             name="dp" formControlName="postedOnFrom" ngbDatepicker #fromDate="ngbDatepicker">
                         
        </div>

        <div class="col-md-6">
          <i class="fa fa-calendar" aria-hidden="true" (click)="toDate.toggle()" type="button" style="padding:7px;"></i>
            <input class="form-control" placeholder="Posted On To"
            name="dp" formControlName="postedOnTo" ngbDatepicker #toDate="ngbDatepicker">
      <!--      <div class="input-group-append">-->
        <!--   <i class="fa fa-calendar" aria-hidden="true" (click)="toDate.toggle()" type="button"></i>
         -->           <!-- <button class="btn btn-outline-secondary calendar" (click)="toDate.toggle()" type="button"></button> -->
         <!--    </div>     -->       
       </div>
          
          <!-- <ngb-datepicker formControlName="posteOnFrom" ></ngb-datepicker>
          <ngb-datepicker formControlName="posteOnTo" ></ngb-datepicker> -->
        </div>
    </div>
    <div style="text-align: right; padding-bottom: 5px;">
        <button type="button" title="Add" class="btn btn-info mr-2" (click)="openCampaignComponent(operation.ADD)">
          Add</button>
        <button type="button" title="Export" class="btn btn-info mr-2"
          (click)="openCampaignComponent(operation.EXPORT)"> Export</button>
        <button type="button" title="searchIdeas" class="btn btn-info mr-3" (click)="searchIdeas()">Search</button>
    </div>
  </form>
</div>
  </nav>
  <div class="filter-and-cards-container">
    <div class="filter-and-cards-section">
      <form *ngIf="filtersForm" [formGroup]="filtersForm" class="filters-container">
        <div style="background-color: rgba(82, 168, 236, 0.8); text-align: center;"><h2 style="margin:0px;"><B>Filters</B></h2></div>
        <mat-accordion [multi]="true">
          <mat-expansion-panel *ngFor="let filter of allFilters; let filterPosition = index"
            [expanded]="filter.expanded" (opened)="setStep(0)" hideToggle [disabled]="disableFilters"
            formArrayName="filters">
            <mat-expansion-panel-header>            
              {{filter.filterName}}
            </mat-expansion-panel-header>

            <form formGroupName="{{filterPosition}}" class="control-group">
              <div formArrayName="values" *ngFor="let filterValue of filter.values; let valuePosition = index "
                class="controls span2">
                <label class="mat-checkbox">
                  <input type="checkbox" value="{{filterValue.value}}" formControlName="{{valuePosition}}"
                    (change)="onFilterCheck(filter, filterPosition, valuePosition, filterValue.value)">
                  {{filterValue.value}}
                </label>
              </div>
            </form>
          </mat-expansion-panel>
        </mat-accordion>
      </form>

      <div class="cards-container">
        <basic-card *ngIf="ideasLoaded" [heading]="'Idea Name'" [datatypeToDisplay]="ideas" [deckView]="deckView"
          [description]="'this will be description and should not exceed indidvdual div width. must overlap to next line'">
        </basic-card>
      </div>
    </div>
  </div>
</div>

<ng-template>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
    <app-innovation-hub></app-innovation-hub>
  </div>
</ng-template>

<ng-template #filterTemplate let-filter="filter">
  <div *ngFor="let filterValue of filter.values" class="controls span2">
    <label class="checkbox">
      <input type="checkbox" value="filterValue.value" id="filterValue.id"> {{filterValue.value}}
    </label>
  </div>
</ng-template>
</body>
