<body class="athena">
    <div class="create-campaign" style="text-align: center; margin-bottom: 50px;">
        <form [formGroup]="createCampaignForm">
            <div class="row-md-4">
                <h2 for="campaignName" class="col-md-4">Campaign Name: </h2>
                <input type="text" class="form-control col-md-4" formControlName="name" id="name" required style="text-align: left;">
                
            </div>
            <div>
                <h2 for="description" >Description: </h2>
                <textarea type="textarea" class="form-control mb-4" formControlName="description" id="description" required style="text-align: left;">
                </textarea>
            </div>
            <div>
                <h2 for="startDate">Start Date:</h2>
                <div class="col-md-6">
                    <hub-date-picker [formControlName]="createCampaignForm.controls.startDate"></hub-date-picker>
                   </div>
                <h2 for="endDate">End Date:</h2>
                <div class="col-md-6">
                    <hub-date-picker [formControlName]="createCampaignForm.controls.endDate"></hub-date-picker>
                   </div>
            </div>
            <h2>Campaign Fields </h2>
            <div formArrayName="campaignFields" *ngFor="let field of campaignFields.controls; let fieldPosition=index">
                <div formGroupName="{{fieldPosition}}">
                    <label style="font-weight: 600;">
                        Field Name: 
                        <input type="text" class="form-control mb-4" formControlName="name">
                    </label>
                    <label class=" mb-4" style="font-weight: 600;">
                        Allowed values: 
                        <!-- <input type="text" class="form-control mb-4" [formControlName]="i" style="margin-left: 10px;"> -->
                        <h8 >
                            <innovation-hub-select-option [fieldFormControlName]="'allowedValues'"
                            [optionList]="[]"
                            [selectedOptions]="[]"
                            [config]="addFieldOptionConfig"></innovation-hub-select-option>
                        </h8>
                    </label>
                    <label style="font-weight: 600;">
                          Value type: 
                          <innovation-hub-select-option [fieldFormControlName]="'type'"
                          [optionList]="typeDisplay"
                          [selectedOptions]="[]" [config]="typeOptionConfig"></innovation-hub-select-option>
                      <!-- <input type="text" class="form-control mb-4" formControlName="type" style="margin-left: 20px;"> -->
                    </label>
                    <button (click)="removeField(fieldPosition)" class="btn btn-danger" style="margin-left: 30px">X</button><br><br>
                </div>
            </div>
            <button (click)="addCustomField()" class="btn btn-info">Add new field</button><br><br>
            <button type="submit" class="btn btn-success btn-lg" (click)="createCampaign()">Create</button>
        </form>
    </div>



</body>