.create-campaign{
    .row{
        padding:10px;
        width:800px;
    }
    .start-end-dates{
        .col-md-4{
            padding:10px;
            
        }

    }
    .add-button{
        margin-left:20px;
    }
}
h2{
    padding-left:80px;
}