<body class="athena">
    <div class="create-campaign" style="text-align: center; margin-bottom: 50px;">
        <form [formGroup]="createCampaignForm" (ngSubmit)="createCampaign()">
            <div>
                <h2 for="campaignName">Campaign Name: </h2>
                <input type="text" class="form-control" formControlName="campaignName" id="campaignName" required style="text-align: left; width: 33%; margin-left: 33%;">
                
            </div>
            <div>
                <h2 for="description" >Description: </h2>
                <textarea type="textarea" class="form-control mb-4" formControlName="description" id="description" required style="text-align: left; width: 33%; margin-left: 33%;">
                </textarea>
            </div>
            <div>
                <h2 for="startDate">Start Date:</h2>
                <h2 for="endDate">End Date:</h2>
            </div>
            <h2>Campaign Fields </h2>
            <div formArrayName="campaignFields">
                <div *ngFor="let field of campaignFields.controls; let i=index">
                    <label style="font-weight: 600;">
                        Field Name: 
                        <input type="text" class="form-control mb-4" [formControlName]="i">
                    </label>
                    <label style="font-weight: 600;">
                          Allowed values: 
                        <input type="text" class="form-control mb-4" [formControlName]="i" style="margin-left: 10px;">
                    </label>
                    <label style="font-weight: 600;">
                          Value type: 
                      <input type="text" class="form-control mb-4" [formControlName]="i" style="margin-left: 20px;">
                    </label>
                    <button (click)="removeField()" class="btn btn-danger" style="margin-left: 30px">X</button><br><br>
                </div>
            </div>
            <button (click)="addCustomField()" class="btn btn-info">Add new field</button><br><br>
            <button type="submit" class="btn btn-success btn-lg">Create</button>
        </form>
    </div>



</body>