<body class="athena">
    <div class="create-campaign">
        <form>
            <div class="form-group">
                <label for="campaignName">Campaign Name</label>
                <input type="text" class="form-control" id="campaignName" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" required>
            </div>


            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>



</body>