<main>
<form [formGroup]="parentForm">
 <div class="row">
  <div class="col-12">
     <div class="col-md-3">
        <label>Free Text </label>
           <input type="text" class="form-control" id="something" formControlName="freeText">
     </div>
     <!-- <div class="col-md-3">
     <label>Single select</label>
     <select id="selectId" formControlName="singleSelect">
     <option *ngFor="let option of options | async" value="{{option}}">single select</option>
     </select>
     </div>
      <div class="col-md-3">
        <label> Radio </label>
        <ul class="list-inline">
           <li class="list-inline-item">
              <label class="radio-container">
                 
                 <input type="radio" [value]="true" class="radio-btn" formControlName="radioButton"
                 (click)="onRadioChange(true)">
                 <span class="radio-checkmark"></span>
              </label>
           </li>
           <li class="list-inline-item">
              <label class="radio-container">
                 <input type="radio" [value]="false" class="radio-btn" formControlName="radioButton"
                 (click)="onRadioChange(false)">
                 <span class="radio-checkmark"></span>
              </label>
           </li>
        </ul>
     </div> -->
  </div>
</div>
<div class="col-md-12">
  <button type="button" title="Submit" class="btn" (click)="submit()">
 
  </button>
</div>
</form>
</main>
<router-outlet></router-outlet>