.header-navbar {
   float: none;
   left: 50%;
   top: 50%;
   position: relative;
   transform: translate(-50%);
}
.header-navbar-logout {
   float: none;
   left: 50%;
   top: 50%;
   position: relative;
   transform: translate(-50%);
}