.header-navbar {
   float: none;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: translate(-50%);
}
.headerBanner {
   font-weight: 800;
   font-size: 4.5em;
   color: #5cb85c;
   text-align: center;
   margin-top: 1%;
   margin-left: 25%;
}
.userDetails {
   color: rgb(228, 215, 33);
   margin-right: 20px;
   margin-top: 12px;
   font-size: larger;
   width: 200px;
   text-align: right;
}
.logoutSection {
   position: absolute;
   margin-left: 75%;
}

.navbar{
   background-color: rgb(24, 22, 22);
   padding:3px !important;
}