.header-navbar {
   float: none;
   left: 50%;
   top: 50%;
   position: absolute;
   transform: translate(-50%);
}
.headerBanner {
   font-weight: 800;
   font-size: 4.5em;
   color: #5cb85c;
   text-align: center;
   margin-top: 1%;
   margin-left: 25%;
}