<header class="fixed-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a>
            <!--For best viewing experience, keep logo width to height ratio of magic number 3.68-->
            <img src="assets/img/IHSMarkitLogo.png" alt="" style="width: 220px; height: 60px;">
        </a>
        <div class="header-navbar" style="top: 30%;">
            <h2 class="headerBanner">Innovations Hub</h2>
        </div>
        <div style="position: absolute; margin-left: 90%;">
            <button class="btn btn-danger" *ngIf="loginService.isUserLoggedIn()" routerLink="/logout">LogOut</button>
        </div>
    </nav>
</header>