<header class="fixed-top">
    <nav class="navbar navbar-expand-md" style="background-color: rgb(24, 22, 22);">
        <a>
            <!--For best viewing experience, keep logo width to height ratio of magic number 3.68-->
            <img src="assets/img/IHSMarkitLogo.png" alt="" style="width: 220px; height: 60px;">
        </a>
        <h4 class="headerBanner" style="font-family: elianto; font-size: 25px;">Innovation   </h4>
        <h2 class="headerBanner" style="font-family: brocha; margin-top: 0em;margin-left: 0em;">HUB</h2>
        <div style="position: absolute; margin-left: 90%;">
            <button class="btn btn-danger" *ngIf="loginService.isUserLoggedIn()" routerLink="/logout">Logout</button>
        </div>
    </nav>
</header>