<!-- <div class="modal fade"> -->
<div class="modal-header" >
    <h4 class="modal-title pull-left">Active Campaigns</h4>
    <a class="close pull-right" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <i class="fas fa-times"></i>
    </a>
</div>
<div class="modal-body">
    <form [formGroup]="campaignForm">
        <div *ngIf="!campaign">
            <innovation-hub-select-option formControlName="selectedCampaign" [fieldFormControlName]="'selectedCampaign'"
                [optionList]="allCampaigns" [multipleOptions]="false" [config]="configForCampaignSearch">
            </innovation-hub-select-option>
        </div>

    </form>
</div>
<div class="modal-footer">
    <div class="container-fluid">
        <div class="row form-action-row clearfix">
            <div class="col-md-12">
                <button *ngIf="operation === allowedOperations.ADD" class="btn btn-info mr-2" type="button" (click)="addIdea()">Add</button>
                <button *ngIf="operation === allowedOperations.EXPORT" class="btn btn-info mr-2" type="button" (click)="exportIdeas()">Export</button>
                <button class="btn btn-default mr-2" type="button" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->
