@font-face {
    font-family: brocha;
    src: url("src/assets/fonts/brocha.otf") format("truetype");
}

@font-face {
    font-family: elianto;
    src: url("src/assets/fonts/elianto.otf") format("truetype");
}
